<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>携程旅行-酒店预订,机票预订查询,旅游度假,商旅管理-携程无线官网</title>
    <link rel="shorcut icon" href="../bitbug_favicon.ico">
    <link rel="stylesheet" href="/public/css/base.css">
    <link rel="stylesheet" href="/public/css/index.css">
</head>

<body>
    <div class="search">
        <div>
            <span>搜索:目的地/酒店/景点/航班号</span>
        </div>
        <a href="/login/">
            <span>我 的</span>
        </a>
    </div>

    <div class="banner">
        <ul>
            <li>
                <img src="../public/img/img-index/700r0v000000jgvmi3D7A_1242_248_25.jpg" alt="">
            </li>
        </ul>
        <!-- 小圆点 -->
        <div class="circle">
            <i class="current"></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
        </div>
    </div>

    <nav>
        <ul>
            <li>
                <a href="#">
                    <i></i>
                    <span>景点·玩乐</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i></i>
                    <span>周边游</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i></i>
                    <span>美食林</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i></i>
                    <span>一日游</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i></i>
                    <span>当地攻略</span>
                </a>
            </li>
        </ul>
    </nav>

    <section>
        <div class="row">
            <div class="row-l">
                <a href="#" title="酒店">酒店</a>
            </div>
            <div class="row33">
                <a href="#" title="海外酒店">海外酒店</a>             
                <a href="#" title="特价酒店">特价酒店</a>  
            </div>
            <div class="row33">
                <a href="#" title="团购">团购</a>             
                <a href="#" title="民宿·客栈">民宿·客栈</a>              
            </div>
        </div>
        <div class="row">
            <div class="row-l">
                <a href="#" title="机票">机票</a>
            </div>
            <div class="row33">
                <a href="#" title="火车票">火车票</a>             
                <a href="#" title="特价机票">特价机票</a>  
            </div>
            <div class="row33">
                <a href="#" title="汽车票·船票">汽车票·船票</a>             
                <a href="#" title="专车·租车">专车·租车</a>              
            </div>
        </div>
        <div class="row">
            <div class="row-l">
                <a href="#" title="旅游">旅游</a>
            </div>
            <div class="row33">
                <a href="#" title="门票">门票</a>             
                <a href="#" title="目的地攻略">目的地攻略</a>  
            </div>
            <div class="row33">
                <a href="#" title="邮轮旅行">邮轮旅行</a>             
                <a href="#" title="定制旅行">定制旅行</a>              
            </div>
        </div>
    </section>

    <div class="local-nav">
        <div class="local-nav-l">
           <ul>
               <li>
                   <a href="#" title="WiFi电话卡">
                        <i></i>
                        <span>WiFi电话卡</span>
                    </a>
                </li>
               <li>
                   <a href="#" title="保险·签证">
                        <i></i>
                        <span>保险·签证</span>
                    </a>
                </li>
               <li>
                   <a href="#" title="外币兑换">
                        <i></i>
                        <span>外币兑换</span>
                    </a>
                </li>
               <li>
                   <a href="#" title="购物">
                        <i></i>
                        <span>购物</span>
                    </a>
                </li>
               <li>
                   <a href="#" title="当地向导">
                        <i></i>
                        <span>当地向导</span>
                    </a>
                </li>
           </ul>
        </div>
        <div class="local-nav-l local-nav-50">
           <ul>
               <li>
                   <a href="#" title="自由行">
                        <i></i>
                        <span>自由行</span>
                    </a>
                </li>
               <li>
                   <a href="#" title="境外玩乐">
                        <i></i>
                        <span>境外玩乐</span>
                    </a>
                </li>
               <li>
                   <a href="#" title="礼品卡">
                        <i></i>
                        <span>礼品卡</span>
                    </a>
                </li>
               <li>
                   <a href="#" title="信用卡">
                        <i></i>
                        <span>信用卡</span>
                    </a>
                </li>
               <li>
                   <a href="#" title="更多">
                        <i></i>
                        <span>更多</span>
                    </a>
                </li>
           </ul>
        </div>
    </div>

 
    
    <!-- <article> -->
        <div class="sales-box">
            <div class="title title-tmh">
                <h2>特卖汇</h2>
                <a href="#">更多</a>
            </div>
            <div class="sales-content">
                <div class="sales-content-l">
                    <div class="sales-img">
                        <img src="../public/img/img-index/30060s000000hztjg8B2C_C_360_202.jpg" alt="">
                    </div>
                    <p>三亚5日自由行(5钻)·暑“价”狂欢 盛夏礼遇【销量明星款 3万人出游】高星价优4晚·甄选热门度假型酒店 | 亲子优选 暑假&中秋&国庆优选地！国内游更安全省心！</p>
                    <b>
                        <dfn>¥</dfn>1936<i>起</i>
                    </b>
                    <span>3.6折</span>
                </div>
                <div class="sale-content-r">
                    <div class="sales-list-t">
                        <a href="#">
                            <dl class="sales-item-title">
                                <dt>千款特价</dt>
                                <dd>走过路过不错过</dd>
                            </dl>
                        </a>
                    </div>
                    <div class="sales-list-b">
                        <div class="b-l">
                            <a href="#">
                                <img src="../public/img/img-index/pic-tmh-04.png" alt="">
                                <dl>
                                    <dt>境外精选</dt>
                                    <dd><span>百元</span>出境游</dd>
                                </dl>
                            </a>
                        </div>
                        <div class="b-r">
                            <a href="#">
                                <img src="../public/img/img-index/pic-tmh-03.png" alt="">
                                <dl>
                                    <dt>周边玩乐</dt>
                                    <dd><span>十元</span>度周末</dd>
                                </dl>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="hot-box">
            <div class="title title-huodong">
                <h2>热门活动<i></i></h2>
                <a href="#">获取更多福利</a>
            </div>

            <div class="activity">
                <div class="row">
                    <div class="col-50">
                            <a><img src="../public/img/img-index/700e0u000000iv3896A2E_621_431_342.jpg" alt=""></a>
                    </div>
                    <div class="col-50">
                        <a><img src="../public/img/img-index/700h0v000000jve9019BF_621_431_342.jpg" alt=""></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-50">
                        <a>
                            <img src="../public/img/img-index/700h0v000000jyaafBD26_620_266_345.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-50">
                        <a>
                            <img src="../public/img/img-index/700w0u000000j0mk66B12_620_266_345.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-50">
                        <a>
                            <img src="../public/img/img-index/700a0t000000im512AB2C_620_266_345.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-50">
                        <a>
                            <img src="../public/img/img-index/700d0s000000htvwo16C4_620_266_345.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    <!-- </article> -->

    <footer>
        <div class="tool-cn">
            <div class="row">
                <div class="col-33 col">
                    <a href="#">电话预订</a>
                </div>
                <div class="col-33 col">
                    <a href="#">下载客户端</a>
                </div>
                <div class="col-33 col">
                    <a href="#">我 的</a>
                </div>
            </div>
        </div>

        <div class="tool-ver">
            <a href="#">网站地图</a> | 
            <a href="#">
                <span class="icon-global"></span>
                Language
                <span class="triangle"></span>
            </a> |
            <a href="#">电脑版</a>
        </div>

        <p>
            @
            <label id="copyno">2018</label>
            携程旅行｜
            <a href="#" class="link-icp">沪ICP备08023580号</a>
        </p>
    </footer>

</body>

</html>